.hero {
    min-height: 500px;
    position: relative;
    color: white;
    z-index: 10;
    display: block;
    overflow: hidden;
}

@media (min-width: 768px) {    
    .hero {
        height: 500px;
    }
}